<% layout('./boilerplate')%>
<% if (success && success.length) { %>
<div class="alert alert-success alert-dismissable fade show" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>
<% } %>
<% if (error && error.length) { %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    <% } %>
<div class="d-flex justify-content-center"><h1>Latest products</h1></div>
<div class="container  flex-wrap ">
    <% for(prod of products) { %>
        <a href="/products/<%=prod.id%>">
            <div class="card bg-dark text-white mb-3">
            <img src="<%=prod.image%>" class="card-img">
            <div class="card-img-overlay">
              <h5 class="card-title"><%=prod.name%></h5>
            </div>
          </div>
        </a>
    <% } %>
</div>